@import url('https://fonts.googleapis.com/css2? família=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: o;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    font-size: 100%;
    background: radial-gradient(240.49% 199.76% at 43.11% 50%, #000000 16.71%, #A51F1F 78.65%, rgba(245, 69, 69, 0) 100%, rgba(245, 69, 69, 0) 100%, rgba(245, 69, 69, 0) 100%, rgba(245, 69, 69, 0) 100%);
}
.cabecalho {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.cabecalho-imagem {
    height: 40px;
}
.conteudo {
    border-top: 0.4px solid  #f5454530;           
}
.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-around;
}
.conteudo-principal-escrito {
    padding-top: 170px;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    gap: 23px;
    height: 307px;
    
}
.conteudo-principal-escrito-botao {
    background: linear-gradient(98.94deg, rgba(219, 38, 38, 0.64) -194.39%, rgba(190, 128, 128, 0) 121.6%);
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.2));
    width: 150px;
    height: 55px;
    border-radius: 9px;
    border: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}
.conteudo-principal-escrito-botao:hover {
    background: hsl(0, 0%, 100%);
    color:#A51F1F
}
.conteudo-principal-imagem {
    height: 690px;
}
.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    border-top: 0.4px solid #f5454530;
}
.conteudo-secundario-titulo {
    padding-top: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #ffffff;
}
.conteudo-secundario-imagem {
    height: 900px;
}
.conteudo-secundario-paragrafo {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    text-align: center;
    color: #ffffff;
    padding-bottom: 20px;
}
.conteudo-secundario-paragrafo1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    padding-bottom: 20px;
}
.zap {
    height: 78px;
    width: 356px;
    border-radius: 61px;
    border: none;
    background: linear-gradient(80.11deg, #50CA5D 7.3%, #1DBE3D 92.73%);
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}
.zap:hover {
    background: #ffffff;
    color: #50CA5D;
}
.orcarmeto {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    padding: 10px;
}
.conteudo3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    margin-top: 48px;
    border-top: 0.4px solid #f5454530;
    padding-bottom: 30px;
}
.final-titulo {
    padding-top: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #ffffff;
}
.final-paragrafo {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    text-align: center;
    color: #ffffff;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 30px;
}
.insta {
    height: 78px;
    width: 356px;
    border-radius: 61px;
    border: none;
    background: linear-gradient(266.48deg, #505FD2 -15.14%, #D33088 33.19%, #F36C32 94.55%, #FDDB82 160.92%);
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}
.insta:hover {
    background: #ffffff;
    color: #9723b4d7;
}
.rodape {
    padding: 7px;
    border-top: 0.4px #f5454530 solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
    margin-top: 40px;
}
.img-rodape {
    height: 38px;
    padding-top: 5px;
    padding-right: 18px;
}
.rodape-paragrafo {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: #ffffff;    
}
@media screen and (max-width:400px) { 
    .conteudo {
        width: 100%;
    }
    .cabecalho-imagem {
        height: 35px;
    }
    .conteudo-principal {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 170px;
    }
    .conteudo-principal-escrito {
        padding-top: 80px;
        padding-left: 20px;
        gap: 10px;
        width: 160px;
        
    }
    .conteudo-principal-escrito-botao {
        width: 63px;
        height: 20px;
        border-radius: 4px;
        font-size: 10px;
        padding: 2.5px;
    }
    .conteudo-principal-escrito-botao:hover {
        background: #ffffff;
        color:#A51F1F
    }
    .conteudo-principal-imagem {
        width: 150px;
    }
    .conteudo-secundario {
        height: 550px;
        width: 100%;
    }
    .conteudo-secundario-titulo {
        padding-top: 5px;
        font-size: 26px;
        line-height: 20px;
    }
    .conteudo-secundario-imagem {
        width: 300px;
    }
    .conteudo-secundario-paragrafo {
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        color: #ffffff;
        padding-bottom: 5px;
        width: 298px;
    }
    .conteudo-secundario-paragrafo1 {
        font-size: 14px;
        padding-bottom: 0px;
        width: 190px;
    }
    .zap {
        height: 35px;
        width: 160px;
        font-size: 19px;
        color: #ffffff;
        padding: 3px;
    }
    .zap:hover {
        background: #ffffff;
        color: #50CA5D;
    }
    .orcarmeto {
        font-size: 10px;
        padding: 0px;
    }
    .conteudo3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
        margin-top: 20px;
        padding-bottom: 30px;
        width: 360px;
        height: 350px;
    }
    .final-titulo {
        padding-top: 16px;
        font-size: 26px;
        line-height: 0px;
    }
    .final-paragrafo {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        text-align: center;
        color: #ffffff;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
    }
    .insta {
        height: 35px;
        width: 160px;
        font-size: 19px;
        padding: 3px;
        align-items: center;
        text-align: center;
    }
    .insta:hover {
        background: #ffffff;
        color: #9723b4d7;
    }
    .rodape {
        padding: 5px;
        align-items: center;
        gap: 0px;
        margin-top: 30px;
    }
    .img-rodape {
        height: 30px;
        padding-top: 5px;
        padding-right: 10px;
        padding-left: 8px;
    }
    .rodape-paragrafo {
        font-size: 9px;    
        padding-top: 5px;
    }
}